.reservation-card {
    border: 2px solid teal;
    background-color: white;
    margin: 2px; 
    color: teal;
    border-radius: 10%;
    font-size: 15px;
}
.cancel-button {
    background-color: teal;
    color: white;
    width: 75%;
    margin-bottom: 3px;    
}